<div style="
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
">
  <div>
    <div class="row">
      <div class="square">

      </div>
      <div class="square">

      </div>
      <div class="square">

      </div>
      <div class="square">

      </div>
    </div>
    <div class="row">
      <div class="square">

      </div>
      <div class="square">

      </div>
      <div class="square">

      </div>
      <div class="square">

      </div>
    </div>
    <div class="row">
      <div class="square">

      </div>
      <div class="square">

      </div>
      <div class="square">

      </div>
      <div class="square">

      </div>
    </div>
  </div>
</div>
