.square {
  width: 64px;
  height: 64px;
  margin: 4px;
  border-radius: 5px;
  background-size: 64px 64px;
  cursor: pointer;
  background-color: white;
}
.flex-container{
  display: flex;
  flex-wrap: nowrap;
}
.nonBomb{
  background-color: black;
}
.bomb{
  background-image: url("https://www.clipartmax.com/png/middle/109-1091966_here-we-go-bomb-icon.png");
}
