<div class="input-amount-wrapper">
  <div class="input-amount">
    <label>
      <span>Bet Amount</span>
    </label>
    <app-number-spinner></app-number-spinner>
  </div>
  <div class="grid-container">
    <button [disabled]="isBet" class="bttn" (click)="bet(1)">1$</button>
    <button [disabled]="isBet" class="bttn" (click)="bet(2)">2$</button>
    <button [disabled]="isBet" class="bttn" (click)="bet(5)">5$</button>
    <button [disabled]="isBet" class="bttn" (click)="bet(10)">10$</button>
  </div>
</div>
